In [5]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Test").getOrCreate()

In [6]:
spark = SparkSession.builder \
    .appName("example") \
    .config("spark.jars.packages", "com.crealytics:spark-excel_3.5:0.20.3") \
    .getOrCreate()

In [9]:
import pandas as pd
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, StringType, DateType

# Create a Spark session
spark = SparkSession.builder.appName("example").getOrCreate()

# Step 1: Read Excel file with pandas
excel_file_path = r"C:\Users\tharu\Test.xlsx"
pandas_df = pd.read_excel(excel_file_path)

# Step 2: Define the schema based on the Pandas DataFrame
schema = StructType([
    StructField(name, StringType(), True) for name in pandas_df.columns[:-1]  # Assuming the last column is the date column
] + [StructField(pandas_df.columns[-1], DateType(), True)])  # Assuming the last column is the date column

# Step 3: Convert pandas DataFrame to PySpark DataFrame
spark_df = spark.createDataFrame(pandas_df, schema=schema)

# Show the PySpark DataFrame
spark_df.show()

PySparkTypeError: [CANNOT_ACCEPT_OBJECT_IN_TYPE] `DateType()` can not accept object `nan` in type `float`.

In [10]:
import pandas as pd
from pyspark.sql import SparkSession
from pyspark.sql.types import StringType, DateType

# Create a Spark session
spark = SparkSession.builder.appName("example").getOrCreate()

# Step 1: Read Excel file with pandas
excel_file_path = r"C:\Users\tharu\Test.xlsx"
pandas_df = pd.read_excel(excel_file_path)

# Step 2: Exclude columns with the name "Unnamed"
filtered_columns = [col for col in pandas_df.columns if "Unnamed" not in col]

# Step 3: Filter Pandas DataFrame and convert to PySpark DataFrame
filtered_pandas_df = pandas_df[filtered_columns].dropna()
spark_df = spark.createDataFrame(filtered_pandas_df)

# Show the PySpark DataFrame
spark_df.show()

IndexError: list index out of range

In [ ]:
import pandas as pd
from pyspark.sql import SparkSession
from pyspark.sql.types import StringType, DateType

# Create a Spark session
spark = SparkSession.builder.appName("example").getOrCreate()

# Step 1: Read Excel file with pandas
excel_file_path = r"C:\Users\tharu\output_data.xlsx"
pandas_df = pd.read_excel(excel_file_path, usecols=["Customer", "Hierarchy", "ParentH1", "Site", "Commitment Type", "Contract Start", "Contract End", "Summary Year"])

# Step 2: Exclude columns with the name "Unnamed"
filtered_columns = [col for col in pandas_df.columns if "Unnamed" not in col]

# Step 3: Filter Pandas DataFrame and convert to PySpark DataFrame
filtered_pandas_df = pandas_df[filtered_columns].dropna()

# Step 4: Convert 'Contract Start' column to PySpark DateType
filtered_pandas_df['Contract Start'] = pd.to_datetime(filtered_pandas_df['Contract Start'], errors='coerce')
filtered_pandas_df = filtered_pandas_df.dropna(subset=['Contract Start'])

# Step 5: Convert to PySpark DataFrame
spark_df = spark.createDataFrame(filtered_pandas_df)

# Show the PySpark DataFrame
spark_df.show()

+----------------+----------+------------+--------------------+----------------+-------------------+------------+------------+
|        Customer| Hierarchy|    ParentH1|                Site| Commitment Type|     Contract Start|Contract End|Summary Year|
+----------------+----------+------------+--------------------+----------------+-------------------+------------+------------+
|Kraft Heinz Corp|KRAFTHEINZ|KRAFTHEINZ_W|           Allentown|Pallet Positions|2016-10-31 00:00:00|    9/1/2026|        2026|
|Kraft Heinz Corp|KRAFTHEINZ|KRAFTHEINZ_W|Ft. Worth - Railhead|Pallet Positions|2016-07-01 00:00:00|    9/1/2026|        2026|
|Kraft Heinz Corp|KRAFTHEINZ|KRAFTHEINZ_W|           Massillon|Pallet Positions|2016-07-01 00:00:00|    9/1/2026|        2026|
|Kraft Heinz Corp|KRAFTHEINZ|KRAFTHEINZ_W|Massillon - Erie Ave|Pallet Positions|2016-07-01 00:00:00|    9/1/2026|        2026|
+----------------+----------+------------+--------------------+----------------+-------------------+------------+------------+

In [ ]:
import pandas as pd

# Your data
data = [
    ["Kraft Heinz Corp", "KRAFTHEINZ", "KRAFTHEINZ_W", "Allentown", "Pallet Positions", "10/31/2016", "9/1/2026", 2026, 5200, 5200, 5200, 5200, 5200, 5200, 5200, 5200, 5200, 5200, 5200, 5200, 5200, 5200, 5200, 7500, 7500, 7500, 7500, 5967],
    ["Kraft Heinz Corp", "KRAFTHEINZ", "KRAFTHEINZ_W", "Ft. Worth - Railhead", "Pallet Positions", "7/1/2016", "9/1/2026", 2026, 9600, 9600, 9600, 9600, 9600, 9600, 9600, 9600, 9600, 9600, 9600, 9600, 9600, 9600, 9600, 10000, 10000, 10000, 10000, 9733],
    ["Kraft Heinz Corp", "KRAFTHEINZ", "KRAFTHEINZ_W", "Massillon", "Pallet Positions", "7/1/2016", "9/1/2026", 2026, 19596, 19596, 19596, 19596, 19596, 19596, 19596, 19596, 19596, 19596, 19596, 19596, 19596, 19596, 19596, 19596, 19596, 19596, 19596, 19596, 19596, 19596, 19596],
    ["Kraft Heinz Corp", "KRAFTHEINZ", "KRAFTHEINZ_W", "Massillon - Erie Ave", "Pallet Positions", "7/1/2016", "9/1/2026", 2026, 11577, 11577, 11577, 11577, 11577, 11577, 11577, 11577, 11577, 11577, 11577, 11577, 11577, 11577, 11577, 11577, 11577, 11577, 11577, 11577, 11577, 11647, 11647, 11647, 11647, 11600]
]

# Column names
columns = ["Customer", "Hierarchy", "ParentH1", "Site", "Commitment Type", "Contract Start", "Contract End", "Summary Year"] + \
          [f"Jan {year}" for year in range(2022, 2024)] + \
          [f"Feb {year}" for year in range(2022, 2024)] + \
          [f"Mar {year}" for year in range(2022, 2024)] + \
          [f"Apr {year}" for year in range(2022, 2024)] + \
          [f"May {year}" for year in range(2022, 2024)] + \
          [f"Jun {year}" for year in range(2022, 2024)] + \
          [f"Jul {year}" for year in range(2022, 2024)] + \
          [f"Aug {year}" for year in range(2022, 2024)] + \
          [f"Sep {year}" for year in range(2022, 2024)] + \
          [f"Oct {year}" for year in range(2022, 2024)] + \
          [f"Nov {year}" for year in range(2022, 2024)] + \
          [f"Dec {year}" for year in range(2022, 2024)] + \
          [f"Average {year}" for year in range(2022, 2024)]

# Creating a DataFrame
df = pd.DataFrame(data, columns=columns)

# Writing to an Excel file using a raw string
excel_file_path = r"C:\Users\tharu\output_data.xlsx"
df.to_excel(excel_file_path, index=False)

print(f"Data has been written to {excel_file_path}")

Data has been written to C:\Users\tharu\output_data.xlsx

In [ ]:
import pandas as pd
from pyspark.sql import SparkSession
from pyspark.sql.types import StringType, DateType

# Create a Spark session
spark = SparkSession.builder.appName("example").getOrCreate()

# Step 1: Read Excel file with pandas
excel_file_path = r"C:\Users\tharu\output_data.xlsx"

# Skip the first 5 rows (0-indexed) and read the data
pandas_df = pd.read_excel(excel_file_path, skiprows=5)

# Step 2: Remove empty columns (Unnamed)
filtered_columns = [col for col in pandas_df.columns if "Unnamed" not in col]

# Step 3: Filter Pandas DataFrame and convert to PySpark DataFrame
filtered_pandas_df = pandas_df[filtered_columns].dropna()

# Step 4: Convert 'Contract Start' column to PySpark DateType (Assuming 'Contract Start' is the correct date column)
filtered_pandas_df['Contract Start'] = pd.to_datetime(filtered_pandas_df['Contract Start'], errors='coerce')

filtered_pandas_df = filtered_pandas_df.dropna(subset=['Contract Start'])

# Step 5: Convert to PySpark DataFrame
spark_df = spark.createDataFrame(filtered_pandas_df)

# Show the PySpark DataFrame
spark_df.show()

+----------------+----------+------------+--------------------+----------------+-------------------+------------+------------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+------------+------------+
|        Customer| Hierarchy|    ParentH1|                Site| Commitment Type|     Contract Start|Contract End|Summary Year|Jan 2022|Jan 2023|Feb 2022|Feb 2023|Mar 2022|Mar 2023|Apr 2022|Apr 2023|May 2022|May 2023|Jun 2022|Jun 2023|Jul 2022|Jul 2023|Aug 2022|Aug 2023|Sep 2022|Sep 2023|Oct 2022|Oct 2023|Nov 2022|Nov 2023|Dec 2022|Dec 2023|Average 2022|Average 2023|
+----------------+----------+------------+--------------------+----------------+-------------------+------------+------------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+------------+------------+
|Kraft Heinz Corp|KRAFTHEINZ|KRAFTHEINZ_W|Massillon - Erie Ave|Pallet Positions|2016-07-01 00:00:00|    9/1/2026|        2026|   11577|   11577|   11577|   11577|   11577|   11577|   11577|   11577|   11577|   11577|   11577|   11577|   11577|   11577|   11577|   11577|   11577|   11577|   11577|   11577| 11577.0| 11647.0| 11647.0| 11647.0|     11647.0|     11600.0|
+----------------+----------+------------+--------------------+----------------+-------------------+------------+------------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+------------+------------+

In [ ]:
import pandas as pd
from pyspark.sql import SparkSession
from pyspark.sql.types import StringType, DateType

# Create a Spark session
spark = SparkSession.builder.appName("example").getOrCreate()

# Step 1: Read Excel file with pandas
excel_file_path = r"C:\Users\tharu\output_data.xlsx"

# Skip the first 5 rows (0-indexed) and read the data
pandas_df = pd.read_excel(excel_file_path, skiprows=5)

# Step 2: Remove empty columns (Unnamed)
filtered_columns = [col for col in pandas_df.columns if "Unnamed" not in col]

# Step 3: Filter Pandas DataFrame and replace null values with '-'
filtered_pandas_df = pandas_df[filtered_columns].fillna('-')

# Step 4: Convert 'Contract Start' column to PySpark DateType (Assuming 'Contract Start' is the correct date column)
filtered_pandas_df['Contract Start'] = pd.to_datetime(filtered_pandas_df['Contract Start'], errors='coerce')

filtered_pandas_df = filtered_pandas_df.dropna(subset=['Contract Start'])

# Step 5: Convert to PySpark DataFrame
spark_df = spark.createDataFrame(filtered_pandas_df)

# Show the PySpark DataFrame
spark_df.show()

+----------------+----------+------------+--------------------+----------------+-------------------+------------+------------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+------------+------------+
|        Customer| Hierarchy|    ParentH1|                Site| Commitment Type|     Contract Start|Contract End|Summary Year|Jan 2022|Jan 2023|Feb 2022|Feb 2023|Mar 2022|Mar 2023|Apr 2022|Apr 2023|May 2022|May 2023|Jun 2022|Jun 2023|Jul 2022|Jul 2023|Aug 2022|Aug 2023|Sep 2022|Sep 2023|Oct 2022|Oct 2023|Nov 2022|Nov 2023|Dec 2022|Dec 2023|Average 2022|Average 2023|
+----------------+----------+------------+--------------------+----------------+-------------------+------------+------------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+------------+------------+
|Kraft Heinz Corp|KRAFTHEINZ|KRAFTHEINZ_W|           Allentown|Pallet Positions|2016-10-31 00:00:00|    9/1/2026|        2026|    5200|    5200|    5200|    5200|    5200|    5200|    5200|    5200|    5200|    5200|    5200|    5200|    5200|    5200|    5200|    7500|    7500|    7500|    7500|    5967|       -|       -|       -|       -|           -|           -|
|Kraft Heinz Corp|KRAFTHEINZ|KRAFTHEINZ_W|Ft. Worth - Railhead|Pallet Positions|2016-07-01 00:00:00|    9/1/2026|        2026|    9600|    9600|    9600|    9600|    9600|    9600|    9600|    9600|    9600|    9600|    9600|    9600|    9600|    9600|    9600|   10000|   10000|   10000|   10000|    9733|       -|       -|       -|       -|           -|           -|
|Kraft Heinz Corp|KRAFTHEINZ|KRAFTHEINZ_W|           Massillon|Pallet Positions|2016-07-01 00:00:00|    9/1/2026|        2026|   19596|   19596|   19596|   19596|   19596|   19596|   19596|   19596|   19596|   19596|   19596|   19596|   19596|   19596|   19596|   19596|   19596|   19596|   19596|   19596| 19596.0| 19596.0| 19596.0|       -|           -|           -|
|Kraft Heinz Corp|KRAFTHEINZ|KRAFTHEINZ_W|Massillon - Erie Ave|Pallet Positions|2016-07-01 00:00:00|    9/1/2026|        2026|   11577|   11577|   11577|   11577|   11577|   11577|   11577|   11577|   11577|   11577|   11577|   11577|   11577|   11577|   11577|   11577|   11577|   11577|   11577|   11577| 11577.0| 11647.0| 11647.0| 11647.0|     11647.0|     11600.0|
+----------------+----------+------------+--------------------+----------------+-------------------+------------+------------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+------------+------------+

In [ ]:
import pandas as pd
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, when

# Create a Spark session
spark = SparkSession.builder.appName("example").getOrCreate()

# Step 1: Read Excel file with pandas
excel_file_path = r"C:\Users\tharu\output_data.xlsx"
pandas_df = pd.read_excel(excel_file_path, skiprows=5)

# Step 2: Remove empty columns (Unnamed)
filtered_columns = [col for col in pandas_df.columns if "Unnamed" not in col]
filtered_pandas_df = pandas_df[filtered_columns].fillna('-')

# Step 3: Convert 'Contract Start' column to PySpark DateType (Assuming 'Contract Start' is the correct date column)
filtered_pandas_df['Contract Start'] = pd.to_datetime(filtered_pandas_df['Contract Start'], errors='coerce')

# Step 4: Replace null values with '-'
filtered_pandas_df = filtered_pandas_df.fillna('-')

# Step 5: Convert to PySpark DataFrame
spark_df = spark.createDataFrame(filtered_pandas_df)

# Show the PySpark DataFrame
spark_df.show()

# Step 6: Write to CSV file
csv_output_path = r"C:\Users\tharu\output_data.csv"
filtered_pandas_df.to_csv(csv_output_path, index=False)

print(f"Data has been written to {csv_output_path}")

+----------------+----------+------------+--------------------+----------------+-------------------+------------+------------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+------------+------------+
|        Customer| Hierarchy|    ParentH1|                Site| Commitment Type|     Contract Start|Contract End|Summary Year|Jan 2022|Jan 2023|Feb 2022|Feb 2023|Mar 2022|Mar 2023|Apr 2022|Apr 2023|May 2022|May 2023|Jun 2022|Jun 2023|Jul 2022|Jul 2023|Aug 2022|Aug 2023|Sep 2022|Sep 2023|Oct 2022|Oct 2023|Nov 2022|Nov 2023|Dec 2022|Dec 2023|Average 2022|Average 2023|
+----------------+----------+------------+--------------------+----------------+-------------------+------------+------------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+------------+------------+
|Kraft Heinz Corp|KRAFTHEINZ|KRAFTHEINZ_W|           Allentown|Pallet Positions|2016-10-31 00:00:00|    9/1/2026|        2026|    5200|    5200|    5200|    5200|    5200|    5200|    5200|    5200|    5200|    5200|    5200|    5200|    5200|    5200|    5200|    7500|    7500|    7500|    7500|    5967|       -|       -|       -|       -|           -|           -|
|Kraft Heinz Corp|KRAFTHEINZ|KRAFTHEINZ_W|Ft. Worth - Railhead|Pallet Positions|2016-07-01 00:00:00|    9/1/2026|        2026|    9600|    9600|    9600|    9600|    9600|    9600|    9600|    9600|    9600|    9600|    9600|    9600|    9600|    9600|    9600|   10000|   10000|   10000|   10000|    9733|       -|       -|       -|       -|           -|           -|
|Kraft Heinz Corp|KRAFTHEINZ|KRAFTHEINZ_W|           Massillon|Pallet Positions|2016-07-01 00:00:00|    9/1/2026|        2026|   19596|   19596|   19596|   19596|   19596|   19596|   19596|   19596|   19596|   19596|   19596|   19596|   19596|   19596|   19596|   19596|   19596|   19596|   19596|   19596| 19596.0| 19596.0| 19596.0|       -|           -|           -|
|Kraft Heinz Corp|KRAFTHEINZ|KRAFTHEINZ_W|Massillon - Erie Ave|Pallet Positions|2016-07-01 00:00:00|    9/1/2026|        2026|   11577|   11577|   11577|   11577|   11577|   11577|   11577|   11577|   11577|   11577|   11577|   11577|   11577|   11577|   11577|   11577|   11577|   11577|   11577|   11577| 11577.0| 11647.0| 11647.0| 11647.0|     11647.0|     11600.0|
+----------------+----------+------------+--------------------+----------------+-------------------+------------+------------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+------------+------------+

Data has been written to C:\Users\tharu\output_data.csv

In [ ]:
import pandas as pd
from pyspark.sql import SparkSession
from pyspark.sql.types import StringType, DateType

# Create a Spark session
spark = SparkSession.builder.appName("example").getOrCreate()

# Step 1: Read Excel file with pandas
excel_file_path = r"C:\Users\tharu\output_data.xlsx"

# Skip the first 5 rows (0-indexed) and read the data
pandas_df = pd.read_excel(excel_file_path, skiprows=5)

# Step 2: Remove empty columns (Unnamed)
filtered_columns = [col for col in pandas_df.columns if "Unnamed" not in col]

# Step 3: Filter Pandas DataFrame and replace null values with '-'
filtered_pandas_df = pandas_df[filtered_columns].fillna('-')

print(filtered_pandas_df)

           Customer   Hierarchy      ParentH1                  Site  \
0  Kraft Heinz Corp  KRAFTHEINZ  KRAFTHEINZ_W             Allentown
1  Kraft Heinz Corp  KRAFTHEINZ  KRAFTHEINZ_W  Ft. Worth - Railhead
2  Kraft Heinz Corp  KRAFTHEINZ  KRAFTHEINZ_W             Massillon
3  Kraft Heinz Corp  KRAFTHEINZ  KRAFTHEINZ_W  Massillon - Erie Ave

    Commitment Type Contract Start Contract End  Summary Year  Jan 2022  \
0  Pallet Positions     10/31/2016     9/1/2026          2026      5200
1  Pallet Positions       7/1/2016     9/1/2026          2026      9600
2  Pallet Positions       7/1/2016     9/1/2026          2026     19596
3  Pallet Positions       7/1/2016     9/1/2026          2026     11577

   Jan 2023  ...  Sep 2022  Sep 2023  Oct 2022  Oct 2023  Nov 2022  Nov 2023  \
0      5200  ...      7500      7500      7500      5967         -         -
1      9600  ...     10000     10000     10000      9733         -         -
2     19596  ...     19596     19596     19596     19596   19596.0   19596.0
3     11577  ...     11577     11577     11577     11577   11577.0   11647.0

   Dec 2022  Dec 2023  Average 2022  Average 2023
0         -         -             -             -
1         -         -             -             -
2   19596.0         -             -             -
3   11647.0   11647.0       11647.0       11600.0

[4 rows x 34 columns]

In [ ]:
import pandas as pd

# Provided data
data = {
    'Customer': ['Kraft Heinz Corp'] * 8 + ['ConAgra Foods Inc'] * 7 + ['Sara Lee'] + ['Lamb Weston'] * 2,
    'Hierarchy': ['KRAFTHEINZ'] * 8 + ['CONAGRAPINNACLE'] * 7 + ['SARALEE'] + ['LAMB'] * 2,
    'ParentH1': ['KRAFTHEINZ_W'] * 8 + ['CONAGRAPINNACLE_W'] * 7 + ['SARALEE_W'] + ['LAMB_W'] * 2,
    'Site': ['Allentown', 'Ft. Worth - Railhead', 'Massillon', 'Massillon - Erie Ave', 'Nampa',
             'Ontario OR', 'Rochelle', 'Westgate', 'Atlanta - East Point', 'Carthage', 'Indianapolis',
             'Manchester', 'Rochelle Caron', 'Russellville ElMira', 'Victorville', 'Tarboro', 'Westgate', 'Delhi', None],
    'Commitment Type': ['Pallet Positions'] * 19
}

# Ensure all arrays have the same length
max_length = max(len(arr) for arr in data.values())
data = {key: arr + [None] * (max_length - len(arr)) for key, arr in data.items()}

# Schema
schema = ['Customer', 'Hierarchy', 'ParentH1', 'Site', 'Commitment Type']

# Create a DataFrame
df = pd.DataFrame(data, columns=schema)

# Save DataFrame to Excel file with schema
df.to_excel(r'C:\Users\tharu\output_data_1.xlsx', index=False)

In [ ]:
import pandas as pd

# Read the Excel file
df_read = pd.read_excel(r'C:\Users\tharu\output_data_1.xlsx')

# Display the DataFrame
print(df_read)

             Customer        Hierarchy           ParentH1  \
0    Kraft Heinz Corp       KRAFTHEINZ       KRAFTHEINZ_W
1    Kraft Heinz Corp       KRAFTHEINZ       KRAFTHEINZ_W
2    Kraft Heinz Corp       KRAFTHEINZ       KRAFTHEINZ_W
3    Kraft Heinz Corp       KRAFTHEINZ       KRAFTHEINZ_W
4    Kraft Heinz Corp       KRAFTHEINZ       KRAFTHEINZ_W
5    Kraft Heinz Corp       KRAFTHEINZ       KRAFTHEINZ_W
6    Kraft Heinz Corp       KRAFTHEINZ       KRAFTHEINZ_W
7    Kraft Heinz Corp       KRAFTHEINZ       KRAFTHEINZ_W
8   ConAgra Foods Inc  CONAGRAPINNACLE  CONAGRAPINNACLE_W
9   ConAgra Foods Inc  CONAGRAPINNACLE  CONAGRAPINNACLE_W
10  ConAgra Foods Inc  CONAGRAPINNACLE  CONAGRAPINNACLE_W
11  ConAgra Foods Inc  CONAGRAPINNACLE  CONAGRAPINNACLE_W
12  ConAgra Foods Inc  CONAGRAPINNACLE  CONAGRAPINNACLE_W
13  ConAgra Foods Inc  CONAGRAPINNACLE  CONAGRAPINNACLE_W
14  ConAgra Foods Inc  CONAGRAPINNACLE  CONAGRAPINNACLE_W
15           Sara Lee          SARALEE          SARALEE_W
16        Lamb Weston             LAMB             LAMB_W
17        Lamb Weston             LAMB             LAMB_W
18                NaN              NaN                NaN

                    Site   Commitment Type
0              Allentown  Pallet Positions
1   Ft. Worth - Railhead  Pallet Positions
2              Massillon  Pallet Positions
3   Massillon - Erie Ave  Pallet Positions
4                  Nampa  Pallet Positions
5             Ontario OR  Pallet Positions
6               Rochelle  Pallet Positions
7               Westgate  Pallet Positions
8   Atlanta - East Point  Pallet Positions
9               Carthage  Pallet Positions
10          Indianapolis  Pallet Positions
11            Manchester  Pallet Positions
12        Rochelle Caron  Pallet Positions
13   Russellville ElMira  Pallet Positions
14           Victorville  Pallet Positions
15               Tarboro  Pallet Positions
16              Westgate  Pallet Positions
17                 Delhi  Pallet Positions
18                   NaN  Pallet Positions