In [1]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, IntegerType, StringType
spark = SparkSession.builder.appName("Local_app").getOrCreate()

In [2]:
schema = StructType([
    StructField("S.no", IntegerType(), True),
    StructField("Name", StringType(), True),
    StructField("Salary", IntegerType(), True),
    StructField("Dept", IntegerType(), True)
])

# Data
data = [{"S.no":1, "Name":'Tharun', "Salary":50000, "Dept":5},
        {"S.no":2, "Name":'Arun', "Salary":30000, "Dept":5},
        {"S.no":3, "Name":'Varun', "Salary":40000, "Dept":4},
        {"S.no":4, "Name":'Kiran', "Salary":20000, "Dept":4}]

# Create DataFrame
df = spark.createDataFrame(data, schema=schema)

# Show DataFrame
print("DataFrame:")
df.show()

DataFrame:
+----+------+------+----+
|S.no|  Name|Salary|Dept|
+----+------+------+----+
|   1|Tharun| 50000|   5|
|   2|  Arun| 30000|   5|
|   3| Varun| 40000|   4|
|   4| Kiran| 20000|   4|
+----+------+------+----+

In [3]:
print("Group by Dept and compute average salary:")
df.groupBy("Dept").agg({"Salary": "avg"}).show()

Group by Dept and compute average salary:
+----+-----------+
|Dept|avg(Salary)|
+----+-----------+
|   5|    40000.0|
|   4|    30000.0|
+----+-----------+

In [4]:
print("Filtering rows where salary is greater than 30000:")
df.filter(df["Salary"] > 30000).show()

Filtering rows where salary is greater than 30000:
+----+------+------+----+
|S.no|  Name|Salary|Dept|
+----+------+------+----+
|   1|Tharun| 50000|   5|
|   3| Varun| 40000|   4|
+----+------+------+----+