In [1]:
n = 5
for i in range(n):
    for j in range(n):
        print('*',end=' ')
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [1]:
n = 5
for i in range(n):
    for j in range(n):
        print(i,end=' ')
    print()

0 0 0 0 0
1 1 1 1 1
2 2 2 2 2
3 3 3 3 3
4 4 4 4 4

In [2]:
n = 5
for i in range(n):
    for j in range(n):
        print(j+i,end=' ')
    print()

0 1 2 3 4
1 2 3 4 5
2 3 4 5 6
3 4 5 6 7
4 5 6 7 8

In [15]:
n = 5
for i in range(n):
    for j in range(n):
        if i <= j:
            print(j, end=' ')
    print()

0 1 2 3 4
1 2 3 4
2 3 4
3 4
4

In [105]:
n = 5
for i in range(n+1):
    for j in range(n,0,-1):
        if i==j:
            print(j,end=' ')
        else:
            print(i,end=' ')
    print()

0 0 0 0 0
1 1 1 1 1
2 2 2 2 2
3 3 3 3 3
4 4 4 4 4
5 5 5 5 5

In [102]:
n = 5
for i in range(n):
    for j in range(n):
        print(i+j,end=' ')
    print()

0 1 2 3 4
1 2 3 4 5
2 3 4 5 6
3 4 5 6 7
4 5 6 7 8

In [103]:
n = 5
for i in range(n+1):
    for j in range(n,0,-1):
        if i==j:
            print(i,end=' ')
        else:
            print(j,end=' ')
    print()

5 4 3 2 1
5 4 3 2 1
5 4 3 2 1
5 4 3 2 1
5 4 3 2 1
5 4 3 2 1

In [24]:
n = 5
for i in range(n):
    for j in range(n):
        if i-j>=0:
            print(i,end=' ')
    print()

0
1 1
2 2 2
3 3 3 3
4 4 4 4 4

In [27]:
n = 5
for i in range(n):
    for j in range(n):
        if i-j>=0:
            print(j,end=' ')
    print()

0
0 1
0 1 2
0 1 2 3
0 1 2 3 4

In [29]:
n = 5
for i in range(n):
    for j in range(n):
        if i-j<=0:
            print(j,end=' ')
    print()

0 1 2 3 4
1 2 3 4
2 3 4
3 4
4

In [31]:
n = 5
for i in range(n):
    for j in range(n):
        if i-j<=0:
            print(i,end=' ')
    print()

0 0 0 0 0
1 1 1 1
2 2 2
3 3
4

In [63]:
n = 5
for i in range(n):
    for j in range(n):
        if i>=j:
            print(i,end=' ')
        else:
            print(' ',end=' ')
    print()

0
1 1
2 2 2
3 3 3 3
4 4 4 4 4

In [66]:
n = 5
for i in range(n):
    for j in range(n):
        if i<=j:
            print('*',end=' ')
        else:
            print(' ',end=' ')
    print()

* * * * *
  * * * *
    * * *
      * *
        *

In [82]:
n = 5
for i in range(n+1):
    for j in range(n+1):
        if i<=j:
            print(i,end=' ')
        else:
            print(' ',end=' ')
    print()

0 0 0 0 0 0
  1 1 1 1 1
    2 2 2 2
      3 3 3
        4 4
          5

In [81]:
n = 5
for i in range(n+1):
    for j in range(n+1):
        if i<=j:
            print(j,end=' ')
        else:
            print(' ',end=' ')
    print()

0 1 2 3 4 5
  1 2 3 4 5
    2 3 4 5
      3 4 5
        4 5
          5

In [80]:
n = 5
for i in range(n+1,0,-1):
    for j in range(n+1,0,-1):
        if i<=j:
            print(i,end=' ')
        else:
            print(' ',end=' ')
    print()

6
5 5
4 4 4
3 3 3 3
2 2 2 2 2
1 1 1 1 1 1

In [79]:
n = 5
for i in range(n+1,0,-1):
    for j in range(n+1,0,-1):
        if i>=j:
            print(i,end=' ')
        else:
            print(' ',end=' ')
    print()

6 6 6 6 6 6
  5 5 5 5 5
    4 4 4 4
      3 3 3
        2 2
          1

In [83]:
n = 5
for i in range(n,0,-1):
    for j in range(n,0,-1):
        if i<=j:
            print(j,end=' ')
        else:
            print(' ',end=' ')
    print()

5
5 4
5 4 3
5 4 3 2
5 4 3 2 1

In [85]:
n = 5
for i in range(n,0,-1):
    for j in range(n,0,-1):
        if i>=j:
            print(j,end=' ')
        else:
            print(' ',end=' ')
    print()

5 4 3 2 1
  4 3 2 1
    3 2 1
      2 1
        1

In [93]:
n = 5
for i in range(n+1):
    for j in range(n,0,-1):
        if i>=j:
            print(j,end=' ')
        else:
            print(' ',end=' ')
    print()

        1
      2 1
    3 2 1
  4 3 2 1
5 4 3 2 1

In [95]:
n = 5
for i in range(n+1):
    for j in range(n,0,-1):
        if i>=j:
            print(i,end=' ')
        else:
            print(' ',end=' ')
    print()

        1
      2 2
    3 3 3
  4 4 4 4
5 5 5 5 5

In [106]:
n = 5
for i in range(n+1):
    for j in range(n,0,-1):
        if i==j:
            print(i,end=' ')
        else:
            print(j,end=' ')
    print()

5 4 3 2 1
5 4 3 2 1
5 4 3 2 1
5 4 3 2 1
5 4 3 2 1
5 4 3 2 1