# Remove duplicates in a List

In [2]:
a = [2, 1, 3, 1, 2, 5, 4, 5, 6, 7, 8, 8, 4, 3, 2, 5, 3, 5]
b = []

for i in a:
    if i not in b:
        b.append(i)

print("List after removing duplicates:", b)

List after removing duplicates: [2, 1, 3, 5, 4, 6, 7, 8]

 Sort the list in ascending order

In [3]:
for i in range(len(b)):
    for j in range(i + 1, len(b)):
        if b[i] > b[j]:
            # Swap elements
            d = b[i]
            b[i] = b[j]
            b[j] = d

print("List in ascending order:", b)

List in ascending order: [1, 2, 3, 4, 5, 6, 7, 8]

In [4]:
import calendar as cal
for i in range(1,13):
    print(cal.month(2024,i))

    January 2024
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31

   February 2024
Mo Tu We Th Fr Sa Su
          1  2  3  4
 5  6  7  8  9 10 11
12 13 14 15 16 17 18
19 20 21 22 23 24 25
26 27 28 29

     March 2024
Mo Tu We Th Fr Sa Su
             1  2  3
 4  5  6  7  8  9 10
11 12 13 14 15 16 17
18 19 20 21 22 23 24
25 26 27 28 29 30 31

     April 2024
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30

      May 2024
Mo Tu We Th Fr Sa Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30 31

     June 2024
Mo Tu We Th Fr Sa Su
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29 30

     July 2024
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31

    August 2024
Mo Tu We Th Fr Sa Su
          1  2  3  4
 5  6  7  8  9 10 11
12 13 14 15 16 17 18
19 20 21 22 23 24 25
26 27 28 29 30 31

   September 2024
Mo Tu We Th Fr Sa Su
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30

    October 2024
Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29 30 31

   November 2024
Mo Tu We Th Fr Sa Su
             1  2  3
 4  5  6  7  8  9 10
11 12 13 14 15 16 17
18 19 20 21 22 23 24
25 26 27 28 29 30

   December 2024
Mo Tu We Th Fr Sa Su
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30 31

In [5]:
from turtle import *
speed(10)
color('orange')
bgcolor('black')
b = 200
while b > 0:
    left(b)
    forward(b * 3)
    b = b - 1

In [6]:
a = 10
def name():
    a = 5
    print(a)
name()
print(a)

5
10

# To find Max element in a list 
without using max() function

In [5]:
a = [3,452,5,10,9,7,6,8]
for i in range(len(a)):
    for j in range(i+1,len(a)):
        if a[i]>a[j] :
            b = a[i]
            a[i] = a[j]
            a[j] = b

print(a[i])
print(min(a))

452
3

# To find Min element in a list 
without using min() function

In [8]:
a = [3,452,5,-10,9,-7,6,8]
for i in range(len(a)):
    for j in range(i+1,len(a)):
        if a[j]>a[i] :
            b = a[j]
            a[j] = a[i]
            a[i] = b

print(a[i])

-10

In [9]:
def desc_order_of_list(a):
    for i in range(len(a)):
        for j in range(i+1,len(a)):
            if a[i]<a[j] :
                b = a[i]
                a[i] = a[j]
                a[j] = b
    return(a[i])
a = [3,452,5,-10,9,-7,6,8]
desc_order_of_list(a)

-10

In [10]:
def asc_order_of_list():
    for i in range(len(a)):
        for j in range(i+1,len(a)):
            if a[i]>a[j] :
                b = a[i]
                a[i] = a[j]
                a[j] = b
    print(a[j])
a = [3,452,5,-10,9,-7,6,8]
asc_order_of_list()

452

In [11]:
def asc_order_of_list(a):
    for i in range(len(a)):
        for j in range(i+1, len(a)):
            if a[i] > a[j]:
                # Swap elements if they are in the wrong order
                a[i], a[j] = a[j], a[i]
    return a[i]

a = [3, 452, 5, -10, 9, -7, 6, 8]
sorted_list = asc_order_of_list(a)
print(sorted_list)

452

In [12]:
def recursive_sort(arr, i=0):
    if i < len(arr):
        for j in range(i + 1, len(arr)):
            if arr[i] > arr[j]:
                # Swap elements if they are in the wrong order
                arr[i], arr[j] = arr[j], arr[i]
        # Recursive call for the next element
        recursive_sort(arr, i + 1)

def asc_order_of_list(arr):
    recursive_sort(arr)
    print(arr)

a = [3, 452, 5, -10, 9, -7, 6, 8]
asc_order_of_list(a)

[-10, -7, 3, 5, 6, 8, 9, 452]

In [13]:
def recursive_sort(arr, i=0):
    if i < len(arr):
        for j in range(i + 1, len(arr)):
            if arr[i] > arr[j]:
                # Swap elements if they are in the wrong order
                arr[i], arr[j] = arr[j], arr[i]
        # Recursive call for the next element
        recursive_sort(arr, i + 1)

def asc_order_of_list(arr):
    recursive_sort(arr)
    print(arr)

a = ['python', 'string', 'in', 'a', 'list']
asc_order_of_list(a)

['a', 'in', 'list', 'python', 'string']

In [14]:
a = 'python string in a list'
b = a.split(' ')
print(b)
for i in range(len(a)):
    if i%2==0:
        print(a[i])

['python', 'string', 'in', 'a', 'list']
p
t
o

t
i
g
i


i
t